<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>导航页</title>
    <link rel="stylesheet" href="./css/selfnew.css">
</head>
<body>
   <div class="quite">
    <!-- /*整页*/ -->
        <div class="head">
            <!--<h3>^_^欢迎来到我们的资源小屋^_^~记得一键三连呦！</h3>-->

            <!--<div class="img1"><a href="https://cn.bing.com/?FORM=BEHPTB#" target="_blank"><img style="background-size:contain;background-image:url(image/小安利.png);" src="./static/image/小安利.png" position="center" background-size="contain" alt="安利" width="110px" height="110px"></a>
                                                                                                                              </div>-->
            <div class="daohang">
                 <div class="dh1">
                       <a class="text1 t1" href="https://time.geekbang.org/" title="极客时间">   极客时间 </a>
                       <a class="text1 t2" href="https://www.crazygames.com/" title="3D小游戏网站"> 3D小游戏网站 </a>
                       <a class="text1 t1 " href="https://www.bilibili.com/" title="摇摆的虫"> 哔哩哔哩 </a>
                       <a class="text1 t2" href="http://www.cskaoyan.com/forum.php" title="王道论坛"> 王道论坛 </a>
                       <a class="text1 t2" href="https://link.zhihu.com/?target=https%3A//www.gaituya.com/manhua/%3Fzhljj220330" title="改图鸭"> 改涂鸦 </a>
                       <!-- <a class="text1 t1" href="http://www.cbaigui.com/" title="纪妖（原名知妖）">&emsp;纪妖&emsp;</a> -->
                       <a class="text1 t1" target="_blank" href="https://www.zhihu.com/" title="问答网站"> 知乎 </a>
                 </div>
           
<!-- 234px的宽度 -->
                 <div style="width: 234px; border:1px #ababab solid;float: right;">
                      <form action="http://www.baidu.com/baidu" target="_blank">
                       <input style="padding-left: 14px; float:left;height:30px ;outline:0px;border:0; " type="text" name="word" id="搜索" width="182px " placeholder="百度一下">
                       <input class="sousu" type="submit" value=" " style="  width: 24px;
                       height: 30px;
                       background-size: cover;
                       background-image: url(image/搜索框.png);
                       float: right;
                       outline: 0;
                       border: #ababab ;
                       border: 0;">
                    

                      </form>&gt;</div>
         </div> 
            
        </div>

        <div class="title">
            <h3>^_^欢迎来到我们的资源小屋^_^~记得一键三连呦！</h3>
            <div class="box9">

            <ul class="box1">   
                <li>
                  <!-- <a class="fa" style="height: 32px;" target="_blank" style="height: 30px;" href="https://www.hbu.edu.cn/">河北大学</a> -->
                  <span class="fa">河北大学</span><span class="spana"></span>
                  <ul class="box2" type="circle">
                        <li><a target="_blank" href="http://lib.hbu.edu.cn/">河北大学图书馆</a></li>
                        <li><a target="_blank" href="https://zhjw.hbu.cn/login">河北大学教务系统</a></li>
                        <li><a target="_blank" href="http://smart.hbu.cn/">查询选课班级群</a></li>
                        <li><a target="_blank" href="http://lib.hbu.edu.cn/resourceinfo?id=1&amp;cid=6">河大知网</a></li>
                        <li><a target="_blank" href="https://www.icourse163.org/">大学MOOC_大学生课堂</a></li>
                      </ul>
                </li>
            </ul>
            <ul class="box1">   
                <li>
              
                  <span class="fa"><a target="_blank" href="file:///F:/User/Desk/geron/%E7%BD%91%E9%A1%B5%E5%AF%BC%E8%88%AA/w%20w%20.html">编程语言学习</a></span><span class="spana"></span>
                  <!-- <a href="https://www.hbu.edu.cn/">河北大学</a> -->
                    <!-- <span class="fa">58编程</span> -->
                      <ul class="box2" style="position:relative;top:0px;">
                        <li><a target="_blank" title="书栈网 · BookStack_程序员IT互联网开源编程书籍免费阅读" href="https://www.bilibili.com/video/BV1id4y1375a/?spm_id_from=333.337.search-card.all.click">C</a></li>
                          <li><a target="_blank" title="书栈网 · BookStack_程序员IT互联网开源编程书籍免费阅读" href="https://www.bilibili.com/video/BV1ce4y1W7Xe/?spm_id_from=333.999.0.0">C++</a></li>
                        <li><a target="_blank" title="我的数据挖掘课救星" href="https://www.yiibai.com/sqlserver/what-is-sql-server.html">SQL教程</a></li>
                        <!--<li><a target="_blank" title="菜鸟教程 - 学的不仅是技术，更是梦想!" href="https://www.runoob.com/">python</a></li>
                        <li><a target="_blank" title="LeeCode - 学的不仅是技术，更是梦想!" href="https://leetcode.cn/">力扣刷题</a></li>
                        <li><a target="_blank" title="问答社区网站" href="https://www.csdn.net/">CSDN</a></li>-->
                        <li><a target="_blank" title="python代码网站" href="https://www.python123.io/student/courses/7427/groups">Python123</a></li>
                        <li><a target="_blank" title="icon" href="https://www.bilibili.com/video/BV1Cv411372m/?spm_id_from=333.999.0.0">JAVA</a></li>
                        <!-- <li><a target="_blank" title="icon" href="http://www.ico8.net/index.php?action=make">小图标转换网站</a></li> -->
                        <!-- <li><a target="_blank" title="icon" href="https://developer.mozilla.org/en-US/docs/Learn">前端三件套手册</a></li>
                        <li><a target="_blank" title="icon" href="https://developer.mozilla.org/en-US/docs/Learn">前端三件套手册</a> -->
                       
                      </ul>
                </li>
            </ul>
            <ul class="box1">   
                <li>
                    <!-- <a href="https://www.hbu.edu.cn/">河北大学</a> -->
                    <!-- <span class="fa">数据网站</span> -->
                    <!-- <a class="fa" style="height: 32px;" target="_blank" href="">数据网站</a> -->
                    <span class="fa">国外CS精品课</span><span class="spana"></span>
                      <ul class="box2">
                        <li><a href="https://www.bilibili.com/video/BV1CG4y1Z7yS/?spm_id_from=333.999.0.0">MIT-DS&Al</a></li>
                        <li><a href="https://www.bilibili.com/video/BV19k4y1C7kA/?spm_id_from=333.999.0.0">MIT 6.S081</a></li>
                        <!--<li><a href="https://login.zhelper.net/">ZLibrarie</a></li>-->
                          <li><a href="https://www.bilibili.com/video/BV1bo4y1Z7xf/?spm_id_from=333.999.0.0">Pointer-指针</a></li>
                          <li><a href="https://www.bilibili.com/video/BV1eV4y137cn/?spm_id_from=333.999.0.0">CSAPP</a></li>
                      </ul>
                </li>
            </ul>

            <ul class="box1">   
                <!-- <li ><a  class="fa" style="height: 32px;" href="https://www.hbu.edu.cn/">河北大学</a> -->
                  <li><span class="fa">前后端学习</span><span class="spana"></span>
                      <ul class="box2">
                        <li><a href="file:///F:/User/Desk/geron/%E7%BD%91%E9%A1%B5%E5%AF%BC%E8%88%AA/note/HTML%E7%AC%94%E8%AE%B0.docx">HTML工具箱</a></li>
                        <li><a href="https://www.bilibili.com/video/BV1r64y1T7J8/?spm_id_from=333.999.0.0">大前端</a></li>
                        <li><a href="https://www.bilibili.com/video/BV1Qf4y1T7Hx/?spm_id_from=333.999.0.0">java-web</a></li>
                        <li><a href="https://www.bilibili.com/video/BV15b4y1a7yG/?spm_id_from=333.337.search-card.all.click">spring-boot</a></li>
                          <li><a href="https://www.bilibili.com/video/BV1ha4y1H7sx/?spm_id_from=333.337.search-card.all.click">Python爬虫</a></li>
                      </ul>
                </li>
            </ul>

            <ul class="box1">   
                <li>
                    <!-- <a href="https://www.hbu.edu.cn/">河北大学</a> -->
                    <!-- <span class="fa">办公工具</span> -->
                    <!-- <a target="_blank" href="" class="fa" style="height: 32px;">办公工具</a> -->
                    <span class="fa">算法精进</span><span class="spana"></span>

                      <ul class="box2" type="square">
                        <li><a title="文档转换工具" href="https://labuladong.gitee.io/algo/">labuladong算法小抄</a></li>
                        <li><a href="https://www.programmercarl.com/">代码随想录</a></li>
                        <li><a href="https://www.acwing.com/">ACWING</a></li>
                          <li> <a target="_blank" title="LeeCode - 学的不仅是技术，更是梦想!" href="https://leetcode.cn/">力扣刷题</a></li>
                      </ul>
                </li>
            </ul>
            <ul class="box1">   
                <li>
                    <!-- <a title="河北大学" target="_blank" href="https://www.hbu.edu.cn/">考研网站</a> -->
                    <span class="fa">图书资源</span><span class="spana"></span>
                      <ul class="box2">
                        <li><a target="_blank" href="http://www.51kywang.com/">51考研网</a></li>
                        <li><a target="_blank" href="https://www.jiumodiary.com/">鸠摩搜书</a></li>
                          <li><a href="https://login.zhelper.net/">ZLibrary</a></li>
                        <!--<li><a target="_blank" href="https://yz.chsi.com.cn/">研招网</a></li>-->
                      </ul>
                </li>
            </ul>
     
            </div>
        </div>
        <div class="title1" style="background-image: url(image/动漫背景.png); background-size:1262px 380px;
        background-repeat: no-repeat ;"></div>

        <div class="picture">
            <a target="_blank" href="https://gfsoso.99lb.net/" title="谷粉学术" class="picture1"><img src="image/谷粉学术.png" width="305px" height="211px" alt="谷粉学术"></a>
            <a target="_blank" href="https://labuladong.gitee.io/algo/" title="labuladuo的算法网站" class="picture1 margin1"><img src="image/labuladuo.png" width="305px" height="211px" alt="labuladuo的算法网站"></a>
            <a target="_blank" href="https://www.programmercarl.com/" title="代码随想录" class="picture1 "><img width="305px" height="211px" src="image/代码随想录.png" alt="代码随想录">
            </a>
           
        
        </div>
        <div class="tail">
            <div class="tail1">
                <a title="哔哩哔哩-视频内容网站" href="https://www.bilibili.com/" target="_blank" class="box">哔哩哔哩</a>
                <a title="GitHub-码农的代码库" href="https://github.com/" target="_blank" class="box">GitHub</a>
                <a title="大学MOOC_大学生课堂" href="https://www.icourse163.org/" target="_blank" class="box">大学MOOC</a>
                <a title="超星慕课" href="http://i.chaoxing.com/base?t=1658718795335" target="_blank" class="box">超星慕课</a>

                <a title="知乎-问答网站" href="https://www.zhihu.com/" target="_blank" class="box">知乎</a>
                <a title="极客时间-编程" href="https://time.geekbang.org/" target="_blank" class="box">极客时间</a>
                <a title="_" href="file:///F:/User/Desk/geron/%E7%BD%91%E9%A1%B5%E5%AF%BC%E8%88%AA/%E7%BD%91%E7%AB%99%E9%A1%B5%E9%9D%A2%E6%A1%88%E4%BE%8B.html" target="_blank" class="box">安利云购</a>
                <a title="_" href="file:///F:/User/Desk/geron/%E7%BD%91%E9%A1%B5%E5%AF%BC%E8%88%AA/%E7%BD%91%E7%AB%99%E9%A1%B5%E9%9D%A2%E6%A1%88%E4%BE%8B.html" target="_blank" class="box">安利云购</a>

                <a title="_" href="https://picrew.me/" target="_blank" class="box">捏脸网站</a>
                <a title="_" href="https://www.wix.com/buildyourwebsite5/designlogo?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=yt_ads_wix_t1_acq_logo_dt_en^ent-biz&amp;experiment_id=youtube.com^c1^^&amp;gclid=CjwKCAjwvsqZBhAlEiwAqAHElYZD6i1G33AtcuXmMbCfrQ1qnA9A5fL1nKQLZ6Grrap29zfetMR-EBoCZGYQAvD_BwE" target="_blank" class="box">icon设计</a>
                <a title="_" href="http://www.cbaigui.com/" target="_blank" class="box">纪妖</a>
                <a title="翻译" href="https://translate.google.com.hk/?hl=zh-CN&amp;sourceid=cnhp&amp;sl=en&amp;tl=zh-CN&amp;text=SAINT&amp;op=translate" target="_blank" class="box">谷歌翻译</a>
            
            
                
            </div>
            <div class="tail2"><div class="xixi">版权为&trade;龍渺科技-LMT所有,侵权必究~!</div></div>
        </div>
    </div>

</body></html>