<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>122登录界面</title>
    <!-- <link rel="stylesheet" href=".css样式存放路径" type="text/css"> -->
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<script>
    window.onload = function () {
        var imgs = ["index1.jpg", "index2.jpg", "index3.jpg"];    //（设定想要显示的图片）
        var i = 0;
        var head = document.body;//获·取DIV对象
        head.style.background = "url(index1.jpg)";   //设置图片的初始图片为该路径的图片
        head.style.backgroundSize = "100%"
        head.style.backgroundAttachment = "fixed";
        head.style.height = "100%";
        head.style.width = "100%";
        head.style.margin = "0px";
        head.style.padding = "0px";
        function time() {
            i++;
            i = i % 3;         // 超过2则取余数，保证循环在0、1、2之间
            head.style.background = "url(" + imgs[i] + ")";
            head.style.backgroundSize = "100%"
            head.style.backgroundAttachment = "fixed";
            head.style.height = "100%"; 
            head.style.width = "100%";
            head.style.margin = "0px";
            head.style.padding = "0px";
            
        }
        setInterval(time, 20000);//循环调用time1()函数，时间间隔为2000ms
        //setInterval()函数，按照指定的周期（按毫秒计）来调用函数或表达式
    }
</script>

<body>
    <div id="bgc" class="class_bgc">
    <div id="con_box" class="con_box1">
        <!-- <div class="title">122系统</div> -->
        <div class="box_login">
            <form class="form" action="/login" method="POST">
                <table>
                    <tr>
                        <td>用户名：</td>
                        <td><input type="text" value="admin" id="username" name="username" /></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" value="123456" id="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="btn_style" type="submit" value="登录">登录</button></td>   
                    </tr>
                   
                </table>
            </form>
            <div><a href="/addUserLogin">注册用户</a></div>
        </div>

    </div>
</div>
</body>

</html>